* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imgs/cat05.jpg);
}

div {
    width: 200px;
    height: 200px;
    background: url(../../cat01.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    left: 20%;
    top: 25%;
}

@media screen and (max-width:992px){
    div {
        width: 400px;
        height: 400px;
        background: url(../../cat03.jpg) no-repeat;
        background-size: cover;
        top: 50%;
        right: 0;
        left: unset;
    }
}